.chatMessages {
  height: 100%;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chatMessage {
  max-width: 70%;
  min-width: 150px;
  margin: 3px 0 0;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  border-radius: var(--borderRadius);
  word-break: break-all;
  white-space: pre-wrap;
}

.incoming {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.outgoing {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.messageText {
  margin-bottom: 5px;
  max-width: 100%;
}

.date {
  font-size: 12px;
  color: #888888;
  text-align: right;
}

.icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  fill: currentColor;
}

.forwarded {
  font-size: 11px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 0.5);
}

.quoted {
  border: 1px solid #888888;
  border-left: 5px solid #45a049;
  border-radius: var(--borderRadius);
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 0 5px;
  padding: 5px;
}
